<%= render "components/banner" %>
<%= render "components/modal" %>

<div class="d-flex justify-content-center lorem">
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>
 <%= 300.times do %>
  <p>Lorem Ipsum</p>
<% end %>
</div>

